# Dependencies
node_modules/

# OS Files
.DS_Store
Thumbs.db
*.log

# Editor
.vscode/
*.swp

# Environment Variables & Secrets
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel & Deployment
.vercel/
dist/
build/
